@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-input {
      display: inline-flex;
      align-items: center;
      height: 48px;
      padding: 12px;
      border: 1px solid $border-color-3;

      &:hover,
      &:focus-within {
        border-color: $border-color-5;
      }

      input {
        color: $text-color-1;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        transition: color 0.2s, background-color 0.2s;
        width: 100%;
        caret-color: $brand-color;
        transition: all 0.1s;

        &::placeholder {
          color: $text-opacity-color-2;
          opacity: 1;
          /* Firefox */
        }

        &:-ms-input-placeholder {
          color: $text-opacity-color-2;
        }

        &::-ms-input-placeholder {
          color: $text-opacity-color-2;
        }
      }

      &-disabled-true {
        background: $container-bg-opacity-color-3;
        border: 1px solid $border-color-2;
        cursor: not-allowed;
        opacity: 1;
        color: $text-opacity-color-2;

        &:hover,
        &:focus-within {
          border-color: $border-color-2;
        }

        &+.pui-input-suffix-icon {
          color: $text-opacity-color-2;
        }
      }

      &-error-true {
        border: 1px solid $status-error-color;

        &:hover,
        &:focus-within {
          border: 1px solid $status-error-color-hover;
        }
      }

      &-char-count {
        font-size: 16px;
        margin-left: 12px;
        color: $text-color-1;

        span {
          color: $text-opacity-color-2;
        }
      }

      &-clear {
        user-select: none;
        color: $icon-clear-color;
        font-size: 18px;
        margin-left: 12px;

        &:hover {
          color: $icon-clear-color-hover;
        }
      }

      &-suffix-icon {
        font-size: 18px;
        margin-left: 12px;
        user-select: none;
      }

      &-size-small {
        height: 36px;
        padding: 12px;
        font-size: 14px;

        .pui-input-char-count {
          font-size: 12px;
        }

        .pui-input-char-clear {
          font-size: 18px;
        }

        .pui-input-suffix-icon {
          font-size: 14px;
        }
      }

      &-size-tiny {
        height: 28px;
        font-size: 14px;
        padding: 0 8px;

        .pui-input-char-count {
          font-size: 14px;
          margin-left: 8px;
        }

        .pui-input-char-clear {
          font-size: 18px;
          margin-left: 8px;
        }

        .pui-input-suffix-icon {
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }
  }
}