.pui-theme-dark{
  .custom-day{
    color: #fff;
  }
  .custom-money{
    color: rgba(255, 255, 255, .5);
  }
}
.pui-theme-light{
  .custom-day{
    color: rgba(0, 0, 0, .4);
  }
  .custom-money{
    color: rgba(0, 0, 0, .4);
  }
}