# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
# dependencies
node_modules
/node_modules
/libs/**/node_modules
/.pnp
.pnp.js
# package-lock.json

# production
/dist
/@pui/**/dist
/@pui/**/storybook-static

/@pui/react/coverage
/@pui/react/es
/@pui/react/es/**/*
/@pui/react/lib
/@pui/react/lib/**/*
/@pui/react/override.scss
/@pui/react/coverage

/@pui/react-mobile/coverage
/@pui/react-mobile/es
/@pui/react-mobile/es/**/*
/@pui/react-mobile/lib
/@pui/react-mobile/lib/**/*
/@pui/react-mobile/override.scss
/@pui/react-mobile/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
