# strict-ssl=false
# @pui: registry=http://s1.web.porsche-preview.cn/repository/npm-group/
# pui-tools: registry=http://s1.web.porsche-preview.cn/repository/npm-group/
always-auth=true 
registry=http://s1.web.porsche-preview.cn/repository/npm-group/
email=dihui.wang@porsche.digital
//s1.web.porsche-preview.cn/repository/npm-group/:_authToken=NpmToken.b955a8b5-3d68-35eb-bf3a-2d6fb73f5d5a
//s1.web.porsche-preview.cn/repository/npm-proxy/:_authToken=NpmToken.b955a8b5-3d68-35eb-bf3a-2d6fb73f5d5a
