strict-ssl=false
@pui:registry=http://s1.web.porsche-preview.cn/repository/npm-group/
# 发包改成/npm-hosted/
pui-tools:registry=http://s1.web.porsche-preview.cn/repository/npm-group/
always-auth=true
email=rock.wang@porsche.digital


