@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-search {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100%;

      .pui-input {
        width: 100%;
      }

      .pui-search-button {
        font-size: 24px;
        color: $text-opacity-color-2;
        user-select: none;
      }

      .pui-search-button :hover {
        color: $text-color-1;
      }

      &-disabled-true {
        cursor: not-allowed;

        .pui-search-button {
          pointer-events: none;
        }
      }

      &.pui-search-show-search-button-bg-true {
        .pui-input-suffix-icon {
          margin-left: 0;
        }

        .pui-search-button {
          background-color: $container-bg-color-8;
          color: $text-color-2;
          position: relative;
          left: 12px;
          padding: 12px;

          &:hover {
            background-color: $container-bg-color-7;
          }

          :hover {
            color: $text-color-2;
          }
        }

        &.pui-search-disabled-true {
          .pui-search-button {
            background-color: $brand-color-disable;
          }
        }
      }

      &-size-small {
        .pui-search-button {
          font-size: 20px;
        }

        &.pui-search {
          &.pui-search-show-search-button-bg-true {
            .pui-input-suffix-icon {
              margin-left: 0;
            }

            .pui-search-button {
              position: relative;
              left: 12px;
              padding: 8px;
            }
          }
        }
      }
    }
  }
}