@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-breadcrumb {
      overflow: hidden;

      &-item {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;

        .porscheicon {
          vertical-align: middle;
          margin-top: -2px;
        }

        &:hover:not(.pui-breadcrumb-nonePath) {
          color: $text-link-color-hover;
        }
      }

      &-nonePath {
        color: $text-opacity-color-2;
        cursor: default;
      }

      &-separator {
        vertical-align: top;
        display: inline-block;
      }

      &.pui-breadcrumb-size-medium {
        font-size: 16px;

        .porscheicon {
          margin-right: 8px;
        }

        .pui-breadcrumb-separator {
          margin: 0 8px;
        }

        .pui-breadcrumb-currentItem {
          font-size: 20px;
        }
      }

      &.pui-breadcrumb-size-small {
        font-size: 14px;

        .porscheicon {
          font-size: 20px;
          margin-right: 4px;
        }

        .pui-breadcrumb-separator {
          margin: 0 4px;
        }

        .pui-breadcrumb-currentItem {
          font-size: 16px;
        }
      }
    }
  }
}