@import '../../styles/theme/index';

.pui-button-group {
  &-align-left,
  &-align-center {
    button {
      margin-right: $form-element-margin-right;
    }
  }

  &-align-right {
    button {
      margin-left: $form-element-margin-right;
    }
  }

  &-disabled-true {
    pointer-events: none;
    cursor: not-allowed;
    label {
      opacity: 0.5;
    }
  }
}
