* {
  -webkit-appearance: none;
  font-family: 'Porsche Next', 'Arial Narrow', 'Arial', 'Microsoft YaHei',
    'Heiti SC', sans-serif;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pui-theme-light {
  background-color: white;
  color: black;
}

.pui-theme-dark {
  background-color: #1b2023;
  color: white;
}

.pui-default-size-medium {
  font-size: 16px;
}

.pui-default-size-small {
  font-size: 14px;
}
