@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-loading {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $loading-bg-color;
      left: 0;
      top: 0;
      text-align: center;
      z-index: 1500;

      &-circle,
      &-circle2 {
        fill: transparent;
        stroke: $text-color-1;
        stroke-width: 2;
        stroke-dasharray: 34;
        transform-origin: center;
      }

      &-circle {
        animation: pui-loading-rotate 1s linear infinite;
        stroke-dasharray: 34;
      }

      &-circle2 {
        opacity: 0.3;
        stroke-dasharray: 0;
      }

      &-text {
        color: $text-color-1;
        margin-top: -10px;
        font-size: 12px;
      }
    }

    @keyframes pui-loading-rotate {
      0% {
      }
      100% {
        transform: rotate(360deg);
      }
    }

    // @keyframes pui-loading-length-change {
    //   0% {
    //     stroke-dasharray: 34;
    //   }
    //   50% {
    //     stroke-dasharray: 60;
    //   }
    //   100% {
    //     stroke-dasharray: 34;
    //   }
    // }
  }
}
