@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-table {
      overflow: hidden;

      &-head,
      &-body {
        table {
          table-layout: fixed;
          border-spacing: 0;
          border-collapse: collapse;
          min-width: 100%;

          .cell-wrap {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          td {
            border-bottom: 1px solid $table-cell-border-color;
            height: 60px;
            padding-left: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .pui-table-measure {
            width: 150px;
            height: 0 !important;
            border: none;
            padding: 0;
          }

          .pui-table-fixed-left,
          .pui-table-fixed-right {
            position: sticky;
            overflow: visible;
          }

          .pui-table-selectable {
            padding-left: 17px;
          }

          .pui-table-cell-multiline {
            text-overflow: initial;
            overflow: auto;
            white-space: initial;
          }
        }
        overflow: hidden;
      }

      &-head {
        table {
          .pui-table-fixed-left,
          .pui-table-fixed-right,
          td {
            z-index: 1;
            background-color: $table-head-bg-color;
            font-weight: bold;
          }

          td {
            user-select: none;

            &.sortable {
              cursor: pointer;
            }

            .title-content {
              // display: flex;
              // justify-content: space-between;

              .sort-btn {
                margin-left: 5px;
                margin-right: 15px;
                height: 25px;
                position: relative;
                color: $container-bg-color-4;
                overflow: hidden;

                .asc-btn {
                  font-size: 16px;
                  transform: rotate(180deg);
                  position: absolute;
                  top: 0px;
                }

                .des-btn {
                  font-size: 16px;
                  position: absolute;
                  bottom: 0px;
                }

                .sort-active {
                  color: $table-sort-active-color;
                }
              }
            }

            .title-content:hover .sort-active {
              color: $table-sort-active-hover-color;
            }
          }
        }
      }

      &-body {
        overflow-x: auto;
        overflow-y: hidden;
        table {
          background-color: $table-bg-color;
          .pui-table-fixed-left,
          .pui-table-fixed-right {
            background-color: $table-bg-color;
            z-index: 1;
          }
          .pui-table-selected-row td,
          .pui-table-expand-row td {
            background-color: $table-selected-bg-color;
          }

          .pui-table-expand-row-active td {
            border: none;
          }

          td {
            transition: background-color 0.1s;
            position: relative;
          }

          /* 中间表格悬浮 */
          tr:hover td::before {
            content: '';
            background-color: $container-bg-opacity-color-1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            pointer-events: none;
          }

          .pui-table-expand-row-active:hover td::before {
            background-color: transparent;
          }
        }
      }

      &-va-top {
        td {
          vertical-align: top;
        }
      }

      &-va-middle {
        td {
          vertical-align: middle;
        }
      }

      &-va-bottom {
        td {
          vertical-align: bottom;
        }
      }

      &-scrollLeft-true table .pui-table-fixed-left::after,
      &-scrollRight-true table .pui-table-fixed-right::before,
      &-scrollRight-true table tr:hover .pui-table-fixed-right::before {
        height: 100%;
        content: '';
        width: 24px;
        position: absolute;
        top: 0px;
        pointer-events: none;
      }

      &-scrollLeft-true table tr .pui-table-fixed-left::after {
        right: -24px;
        box-shadow: $table-fix-column-shadow-left;
        pointer-events: none;
      }

      &-scrollRight-true table .pui-table-fixed-right::before,
      &-scrollRight-true table tr:hover .pui-table-fixed-right::before {
        left: -24px;
        box-shadow: $table-fix-column-shadow-right;
        background-color: transparent;
        pointer-events: none;
      }

      &-scrollRight-true
        .pui-table-body
        tr:hover
        .pui-table-fixed-right::after {
        content: '';
        background-color: $container-bg-opacity-color-1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
      }

      &-expand-button {
        cursor: pointer;
        color: $text-color-1;
        font-size: 24px;
        opacity: 0.5;
        margin-top: 1px;
        user-select: none;
      }

      &-size-small {
        .title-text {
          line-height: 26px;
        }
        font-size: 14px;
        table {
          td {
            height: 48px;
          }
          td::before {
            height: 48px;
          }
          td::after {
            height: 48px;
          }
        }

        .pui-table-expand-button {
          font-size: 20px;
        }

        .pui-table-head {
          .asc-btn {
            top: -1px !important;
          }

          .des-btn {
            bottom: -1px !important;
          }

          td {
            height: 36px;
            font-size: 14px;
            padding-left: 12px;
          }
        }

        .pui-table-body {
          td {
            padding-left: 12px;
          }
          .pui-table-expand-cell-row {
            padding-left: 0;
          }
        }
      }

      &-expand-cell::before {
        background-color: transparent !important;
      }
      &-expand-cell::after {
        background-color: transparent !important;
      }
    }
  }
}
