@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);
    .highlightBg {
      border-color: $filter-highlight-border-color !important;
      background-color: $filter-highlight-bg-color;
    }
    .filterMode {
      width: 100%;
      // input {
      //   width: auto !important;
      // }
      // .filterMode-start {
      //   display: none;
      // }
      .label-holder {
        color: $border-color-3;
      }
    }
    .pui-pick-date {
      cursor: default;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      // border-radius: 4px;
      display: inline-block;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
      background-color: $float-layer-bg-color;
      &-size-medium {
        font-size: 16px;
      }
      &-size-small {
        font-size: 14px;
      }
      * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-style: normal;
      }
      .yearprev {
        left: 0;
        font-size: 14px;
      }
      .monthprev {
        left: 25px;
        font-size: 14px;
      }
      .yearnext {
        right: 0;
        font-size: 14px;
      }
      .monthnext {
        right: 25px;
        font-size: 14px;
      }
      &.leftmenu {
        padding-left: 90px;
      }
      .pui-pick-date-wrap {
        overflow: hidden;
        &-size-medium {
          min-width: 340px;
        }
        &-size-small {
          min-width: 332px;
        }
      }
      .pui-pick-date-pane {
        float: left;
        overflow: hidden;
        &-size-medium {
          width: 340px;
          font-size: 16px;
        }
        &-size-small {
          width: 332px;
          font-size: 14px;
        }
      }
      .pui-pick-date-pane:nth-child(1) {
        border-right: 1px solid $border-color-1;
      }
      .pui-pick-date-header {
        width: 100%;
        float: left;
        background-color: transparent !important;
        text-align: center;

        padding: 18px 50px;
        position: relative;
        color: $text-color-1 !important;
        &-size-medium {
          font-size: 16px;
        }
        &-size-small {
          font-size: 14px;
        }
        em {
          width: 25px;
          height: 36px;
          line-height: 36px;
          position: absolute;
          top: 0;
          background-repeat: no-repeat;
          background-position: center center;
          cursor: pointer;
        }
        .ymbtn {
          padding: 8px;
          border-radius: 4px;
          cursor: pointer;

          &-size-medium {
            font-size: 16px;
          }
          &-size-small {
            font-size: 14px;
          }
        }
      }
      .pui-pick-date-content {
        width: 100%;
        min-height: 214px;
        height: auto;
        max-height: 266px;
        float: left;
        overflow: hidden;
        .dayscontainer {
          position: relative;
          &-size-medium {
            padding: 0px 22px 0px 22px;
          }
          &-size-small {
            padding: 0px 24px 0px 24px;
          }
          .line {
            position: absolute;
            height: 1px;
            border-bottom: solid 1px $border-color-1;
            width: 100%;
            left: 0px;
            top: 35px;
          }
        }
        // border-top: solid 1px $border-color-1;
        .daystable {
          width: 100%;
          border-collapse: collapse;
          border-spacing: 0;
          // thead {
          //   tr {
          //     border-bottom: 1px solid $border-color-1;
          //   }
          // }
          th {
            width: 36px;
            height: 40px;
            text-align: center;
            position: relative;
            overflow: hidden;

            padding-bottom: 10px;
            &-size-medium {
              font-size: 16px;
            }
            &-size-small {
              font-size: 14px;
            }
            // font-weight: 400;
          }
          // th:nth-child(1) {
          //   padding-left: 16px;
          // }
          // th:last-child {
          //   padding-right: 16px;
          // }
          td {
            width: 36px;
            height: 36px;
            text-align: center;
            position: relative;
            overflow: hidden;

            &-size-medium {
              font-size: 16px;
            }
            &-size-small {
              font-size: 14px;
            }
            .nolunar {
              line-height: 29px;
            }

            .solar {
              height: 14px;
              line-height: 14px;
              font-size: 14px;
              padding-top: 2px;
              display: block;
            }
            &:hover {
              background-color: $container-bg-opacity-color-2;
            }
          }
          // td:nth-child(1) {
          //   padding-left: 16px;
          // }
          // td:last-child {
          //   padding-right: 16px;
          // }
          .action {
            background: transparent !important;
            p {
              background: $brand-color !important;
              border-top: 1px solid $brand-color;
              border-bottom: 1px solid $brand-color;
            }
          }
        }
      }
      .contain {
        background: transparent !important;
        p,
        span {
          background: $date-picker-range-color !important;
          border-top: 1px dashed $brand-color;
          border-bottom: 1px dashed $brand-color;
        }
      }
      .pui-pick-date-time {
        overflow: hidden;
        padding-bottom: 4px;
        background-color: $float-layer-bg-color;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 150;

        &-size-medium {
          height: calc(100% - 66px);
        }
        &-size-small {
          height: calc(100% - 51px);
        }
        .timepane {
          float: left;
          height: 100%;
          &-size-medium {
            width: 340px;
          }
          &-size-small {
            width: 332px;
          }
        }
        .timepane:nth-child(2) {
          .hmslist {
            border-left: 1px solid $border-color-2 !important;
          }
          .hmstitle {
            p:nth-child(1) {
              border-left: 1px solid $border-color-2 !important;
            }
          }
        }
        .timeheader {
          width: 100%;
          float: left;
          height: 36px;
          line-height: 36px;
          text-align: center;

          position: relative;
          // display: none;
          border-bottom: 1px solid $border-color-1;
          &-size-medium {
            font-size: 16px;
          }
          &-size-small {
            font-size: 14px;
          }
        }
        .timecontent {
          width: 100%;
          float: left;
          height: 100%;
        }
        .hmstitle {
          width: 100%;
          margin: 0 auto;
          overflow: hidden;
          // padding-top: 4px;
          text-align: left;
          p {
            // width: 33.33%;
            float: left;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            // opacity: 0.4;
            padding-left: 12px;
            color: $text-opacity-color-2;
          }
          p:nth-child(1) {
            border-right: 1px solid $border-color-1;
          }
          p:nth-child(3) {
            border-left: 1px solid $border-color-1;
          }
        }
        .hmslist {
          width: 100%;
          margin: 0 auto 6px auto;
          // border: 1px solid $border-color-1;
          border-right: none;
          overflow: hidden;

          .hmsauto {
            height: 100%;
            margin: 0;
            text-align: center;
            &:hover {
              ul {
                overflow-y: auto;
              }
            }
            &-size-medium {
              ul {
                // width: 113px;
                min-height: 205px;
                // height: 242px;
                float: left;
                // border-right: 1px solid $border-color-1;
                overflow: hidden;
                li {
                  text-align: left;
                  height: 36px;
                  line-height: 36px;

                  padding-left: 12px;

                  font-size: 16px;

                  &:hover {
                    background-color: $container-bg-opacity-color-2;
                  }
                  &.disabled {
                    background-color: $container-bg-opacity-color-3;
                    color: $text-opacity-color-2;
                  }
                }
                .action {
                  background: $status-bg-error-color !important;
                  color: $brand-color;
                  font-weight: bold;
                }
              }
            }
            &-size-small {
              ul {
                // width: 113px;
                min-height: 205px;
                // height: 242px;
                float: left;
                // border-right: 1px solid $border-color-1;
                overflow: hidden;
                li {
                  text-align: left;
                  height: 32px;
                  line-height: 32px;

                  padding-left: 12px;

                  font-size: 14px;

                  &:hover {
                    background-color: $container-bg-opacity-color-2;
                  }
                  &.disabled {
                    background-color: $container-bg-opacity-color-3;
                    color: $text-opacity-color-2;
                  }
                }
                .action {
                  background: $status-bg-error-color !important;
                  color: $brand-color;
                  font-weight: bold;
                }
              }
            }
          }

          .hmsauto:nth-child(1) {
            ul {
              border-right: 1px solid $border-color-1;
            }
          }
          .hmsauto:nth-child(3) {
            ul {
              border-left: 1px solid $border-color-1;
            }
          }
        }
      }
      .pui-pick-date-footbtn {
        // height: 63px;
        // padding: 14px 24px;
        border-top: 1px solid $border-color-1;
        overflow: hidden;
        &-size-medium {
          height: 63px;
          padding: 14px 24px;
          .timecon {
            line-height: 34px;
            padding: 0 5px;
            background-color: $text-white-color;
            color: $text-black-color;
            border: 1px $text-color-1 solid;
            display: block;
            float: left;
            font-size: 14px;
            // margin-top: 4px;
            // border-radius: 4px;
            overflow: hidden;
            margin-left: 12px;
            width: 80px;
            text-align: center;
          }
          .btnscon {
            line-height: 28px;
            // margin-top: 4px;
            display: block;
            float: right;
            font-size: 14px;
            // border-radius: 4px;
            overflow: hidden;
            span {
              float: left;
              padding: 0 5px;
              border: 1px $text-color-1 solid;
              background-color: transparent;
              color: $text-color-1;
              display: block;
              height: 36px;
              line-height: 36px;
              text-align: center;
              overflow: hidden;
              cursor: pointer;
              margin-left: 12px;
              width: 56px;
              &:last-child {
                // border-right: none;
              }
            }
            .setok {
              background: $brand-color;
              color: $text-white-color;
              border: none;
              font-size: 14px;
            }
          }
          .today {
            display: inline-block;
            margin-top: 7px;
            color: $text-link-color;
            cursor: pointer;
          }
        }
        &-size-small {
          height: 52px;
          padding: 12px 24px;
          .timecon {
            height: 28px;
            // padding: 0 5px;
            background-color: $text-white-color;
            color: $text-black-color;
            border: 1px $text-color-1 solid;
            display: block;
            float: left;
            font-size: 12px;
            // margin-top: 4px;
            // border-radius: 4px;
            overflow: hidden;
            margin-left: 12px;
            width: 64px;
            text-align: center;
          }
          .btnscon {
            line-height: 28px;
            // margin-top: 4px;
            display: block;
            float: right;
            font-size: 12px;
            // border-radius: 4px;
            overflow: hidden;
            span {
              float: left;
              padding: 0 5px;
              border: 1px $text-color-1 solid;
              background-color: transparent;
              color: $text-color-1;
              display: block;
              height: 28px;
              line-height: 28px;
              text-align: center;
              overflow: hidden;
              cursor: pointer;
              margin-left: 12px;
              width: 40px;
              &:last-child {
                // border-right: none;
              }
            }
            .setok {
              background: $brand-color;
              color: $text-white-color;
              border: none;
              font-size: 12px;
            }
          }
          .today {
            display: inline-block;
            margin-top: 3px;
            color: $text-link-color;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
    }
    .pui-pick-date-tips {
      position: absolute;
      bottom: 16px;
      left: 20px;
      color: $status-error-color;
    }
    .pui-pick-date ul,
    .pui-pick-date ol,
    .pui-pick-date li,
    .pui-pick-date dl {
      list-style-type: none;
      font-style: normal;
      font-weight: 300;
    }
    .pui-pick-date .timecontent ul::-webkit-scrollbar,
    .pui-pick-date-menu::-webkit-scrollbar {
      height: 6px;
      width: 6px;
      margin-right: 5px;
      background-color: $text-white-color; // $container-bg-color-5;
      transition: all 0.3s ease-in-out;
      // border-radius: 13px;
    }

    .pui-pick-date .timecontent ul::-webkit-scrollbar-thumb,
    .pui-pick-date-menu::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 0px;
      background: $container-bg-color-4;
      border-radius: 13px;
    }
    .pui-pick-date .pui-pick-date-content .yeartable,
    .monthtable {
      border-top: solid 1px $border-color-1;
      padding-top: 28px;
    }
    .pui-pick-date .pui-pick-date-content .yeartable td,
    .pui-pick-date .pui-pick-date-content .monthtable td {
      width: 70px;
      height: 51px;
      // line-height: 51px;
      text-align: center;
      position: relative;
      overflow: hidden;
      // font-size: 14px;
    }
    .pui-pick-date .pui-pick-date-content .monthtable tbody {
      display: block;
      margin: 0px auto;
      width: 280px;
    }
    .pui-pick-date .pui-pick-date-content .yeartable tbody {
      display: block;
      margin: 0px auto;
      width: 280px;
    }
    .pui-pick-date .pui-pick-date-content .yeartable td span,
    .pui-pick-date .pui-pick-date-content .monthtable td span {
      // padding: 6px 8px;
      // border: 1px solid $text-color-1;
      width: 100%;
      display: inline-block;
      height: 40px;
      line-height: 40px;
    }
    .pui-pick-date .pui-pick-date-content .yeartable td span:hover,
    .pui-pick-date .pui-pick-date-content .monthtable td span:hover {
      background-color: $container-bg-opacity-color-2;
      cursor: pointer;
    }
    .pui-pick-date .pui-pick-date-content .yeartable td.disabled span,
    .pui-pick-date .pui-pick-date-content .monthtable td.disabled span {
      color: $text-opacity-color-2;
      // background-color: $container-bg-opacity-color-2;
      // border: 1px solid $text-color-1;
    }
    .pui-pick-date .pui-pick-date-content .yeartable td.disabled span:hover,
    .pui-pick-date .pui-pick-date-content .monthtable td.disabled span:hover {
      cursor: no-drop;
    }
    td.disabled {
      color: $text-opacity-color-2;
    }
    /************/

    .je-input-box-disabled,
    .je-input-box {
      position: relative;
      display: inline-block;
      border: 1px solid $border-color-3;
      width: 100%;
      white-space: nowrap;
      &-size-medium {
        height: 48px;
      }
      &-size-small {
        height: 36px;
      }
      .je-input {
        color: $text-color-1;
        display: inline-block;
        padding-left: 10px;
        border: none;
        background-color: transparent;
        width: 100%;
        &-size-medium {
          height: 46px;
          font-size: 16px;
        }
        &-size-small {
          height: 34px;
          font-size: 14px;
        }

        &-size-medium::placeholder {
          font-size: 16px;
        }
        &-size-small::placeholder {
          font-size: 14px;
        }
      }
    }
    .je-input-box-disabled {
      .je-input {
        color: $border-color-3;
      }
    }

    .filter-label {
      display: inline-block;
      &-size-medium {
        height: 46px;
        line-height: 46px;
        font-size: 16px;
      }
      &-size-small {
        height: 34px;
        line-height: 34px;
        font-size: 14px;
      }
    }
    .je-input-box:hover {
      border-color: $border-color-5;
    }
    .je-input-box-disabled,
    .pui-pick-date-range-disabled {
      background: $container-bg-opacity-color-3;
      border: 1px solid $border-color-2;
      cursor: not-allowed;
      opacity: 1;
      input {
        cursor: not-allowed !important;
      }
    }
    .pui-pick-date-range-disabled,
    .pui-pick-date-range {
      display: inline-block;
      position: relative;

      padding-right: 40px;
      white-space: nowrap;
      transition: all 0.1s;
      // .activeBorder {
      //   border-bottom: 2px solid $brand-color !important;
      // }
      .je-input-range {
        cursor: pointer;
        transition: all 0.1s;
        color: $text-color-1;
        background-color: transparent;
        display: inline-block;
        border: none;
        text-align: center;
        border-top-color: transparent;
        min-width: 50px;
        white-space: nowrap;
        position: relative;
        &-size-medium {
          height: 46px;
          font-size: 16px;
        }
        &-size-small {
          height: 34px;
          font-size: 14px;
        }
        &-size-medium::placeholder {
          font-size: 16px;
        }
        &-size-small::placeholder {
          font-size: 14px;
        }
      }
      .je-input-range:nth-child(1) {
        margin-left: 12px;
      }
    }
    .pui-pick-date-range-disabled {
      color: $border-color-3;
      .je-input-range {
        color: $border-color-3;
      }
      &-size-medium {
        height: 46px;
      }
      &-size-small {
        height: 34px;
      }
    }
    .pui-pick-date-range {
      border: 1px solid $border-color-3;
      cursor: pointer;
      &-size-medium {
        height: 46px;
      }
      &-size-small {
        height: 34px;
      }
    }
    .pui-date-picker-icon {
      &-size-small {
        top: 5px !important;
      }
      &-size-medium {
        top: 11px !important;
      }
    }
    .pui-pick-date-range:hover {
      border: 1px solid $border-color-5;
    }
    .dateFontIcon {
      margin-top: 18px !important;
      color: $text-color-1 !important;
    }
  }
}
