@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-checkbox {
      display: inline-block;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
      color: $text-color-1;
      position: relative;

      svg,
      .porscheicon,
      .pui-checkbox-checkmark,
      .pui-checkbox-part-checkmark {
        pointer-events: none;
      }

      input {
        border: 1px solid $border-color-3;
        background-color: transparent;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        margin-right: 8px;
        cursor: pointer;
        transition: all 0.1s;
      }

      input:hover {
        border: 1px solid $border-color-5;
      }

      input:disabled {
        border: 1px solid $border-color-3;
        cursor: not-allowed;
      }

      &-checkmark {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        transition: all 0.1s;
        line-height: 25px;
      }

      &-part-checkmark {
        position: absolute;
        top: 2px;
        left: 0px;
        transition: all 0.1s;
        width: 20px;
        height: 20px;
        background-color: $container-bg-active-color;
        .porscheicon {
          font-size: 16px;
          margin-top: 2px;
          vertical-align: top;
          margin-left: 2px;
        }
      }

      input:checked {
        border-color: transparent;
        background-color: $container-bg-active-color;
      }

      input:checked ~ .pui-checkbox-checkmark {
        opacity: 1;
      }

      &-size-small {
        font-size: 14px;
        input {
          width: 16px;
          height: 16px;
          margin-top: 3px;
          margin-right: 4px;
        }

        .pui-checkbox-checkmark {
          top: 0px;
          left: 1px;
          line-height: 22px;
          .porscheicon {
            font-size: 14px;
          }
        }

        .pui-checkbox-part-checkmark {
          position: absolute;
          top: 3px;
          left: 0px;
          width: 16px;
          height: 16px;
          transition: all 0.1s;
          background-color: $container-bg-active-color;

          .porscheicon {
            font-size: 14px;
            margin-top: 1px;
            vertical-align: top;
            margin-left: 1px;
          }
        }
      }

      &-size-medium {
        input {
          width: 20px;
          height: 20px;
          margin-top: 2px;
        }

        .pui-checkbox-checkmark {
          top: 0px;
          left: 2px;
          .porscheicon {
            font-size: 16px;
          }
        }
      }

      &-disabled-true {
        opacity: 0.5;
        color: $text-color-1;
        input {
          border: 1px solid $border-color-3;
        }
      }
      &-disabled-true:hover {
        background-color: transparent;
        font-weight: normal;
        cursor: not-allowed;
      }
    }
  }
}
