@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-radio {
      display: inline-block;
      margin-right: 32px;
      font-size: 16px;
      user-select: none;
      cursor: pointer;
      color: $text-color-1;
      position: relative;

      input {
        cursor: pointer;
        border: 1px solid $border-color-3;
        background-color: transparent;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        margin: 0;
        margin-right: 8px;
        transition: all 0.1s;
      }

      input:hover {
        border: 1px solid $border-color-5;
      }

      input:checked {
        border-color: $container-bg-active-color;
      }

      &-checkmark {
        border-radius: 50%;
        transition: all 0.1s;
        opacity: 0;
      }

      input:checked~.pui-radio-checkmark {
        background-color: $container-bg-active-color;
        position: absolute;
        opacity: 1;
      }

      &-size-small {
        font-size: 14px;

        input {
          width: 16px;
          height: 16px;
          margin-top: 3px;
          margin-right: 4px;
        }

        input:checked~.pui-radio-checkmark {
          width: 8px;
          height: 8px;
          left: 4px;
          top: 7px;
        }
      }

      &-size-medium {
        input {
          width: 20px;
          height: 20px;
          margin-top: 2px;
        }

        input:checked~.pui-radio-checkmark {
          width: 10px;
          height: 10px;
          left: 5px;
          top: 7px;
        }
      }

      input:disabled {
        border: 1px solid $border-color-3;
        cursor: not-allowed;
      }

      &-disabled-true {
        opacity: 0.5;
        color: $text-color-1;

        input {
          border: 1px solid $border-color-3;
        }
      }

      &-disabled-true:hover {
        background-color: transparent;
        font-weight: normal;
        cursor: not-allowed;
      }

      &-checked-true {
        font-weight: 600;
      }
    }
  }
}