@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-checkbox-group {
      display: inline-block;
      vertical-align: top;

      &-disabled-true {
        pointer-events: none;
        cursor: not-allowed;

        label {
          opacity: 0.5;
        }
      }

      .pui-checkbox {
        margin-right: 32px;
      }

      &-error-true {
        .pui-checkbox {
          input {
            border: 1px solid $status-error-color;
          }

          input:hover {
            border: 1px solid $status-error-color-hover;
          }

          input:checked {
            background-color: $status-error-color;
          }
        }
      }
    }
  }
}