{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    "@babel/preset-env"
  ],
  "plugins": [
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ]
}
