import React, { PropsWithChildren, ReactNode, useMemo } from 'react';

type {{headCaps name}}Props = {}

export function {{headCaps name}}(props: PropsWithChildren<{{headCaps name}}Props>) {
  const { children } = props;

  return <div></div>
}