@import '../../styles/theme/index';

@each $theme in $themes {
  .pui-theme-#{$theme} {
    @include theme($theme);

    .pui-split-button {
      .afterAddon {
        position: relative;
        &::before {
          position: absolute;
          content: '';
          width: 0.5px;
          height: 60%;
          top: 20%;
          background-color: white;
          z-index: 1;
        }
        .pui-button {
          &-type-link {
            padding: 0 11px !important;
          }

          &-type-default {
            border-left: none;
          }

          &-size-small {
            &.pui-button-type-link {
              padding: 0 7px !important;
            }
          }

          &-size-tiny {
            &.pui-button-type-link {
              padding: 0 7px !important;
            }
          }
        }
      }
      .pui-button {
        &-type-link {
          padding: 0 16px !important;
        }

        &-size-small {
          &.pui-button-type-link {
            padding: 0 11px 0 7px !important;
          }
        }

        &-size-tiny {
          &.pui-button-type-link {
            padding: 0 7px !important;
          }
        }
      }

      &.pui-split-button-type-default {
        .afterAddon {
          &::before {
            background-color: transparent;
          }
        }
      }

      &.pui-split-button-type-text {
        .afterAddon {
          &::before {
            background-color: transparent;
          }
        }
      }

      &.pui-split-button-type-link {
        .afterAddon {
          &::before {
            background-color: transparent;
          }
        }
      }
    }
  }

  .pui-theme-dark{
    .pui-split-button-type-secondary{
      .afterAddon {
        &::before {
          background-color: black;
        }
      }
    }
  }
}
